@media (min-width: 1200px) {
  .container {
    display: flex; /* or inline-flex */
    flex-flow: row nowrap;
  }

  .demoform {
    width: 80%;
  }
}

.container > * {
  flex: 1 100%;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: medium;
}

.App-Form {
  flex: 4 8 auto;
  padding-top: 1em;
}

.App-selection {
  flex: 1 auto;
}

.App-Data {
  flex: 2 auto;
}

.data-title {
  text-align: center;
  margin-bottom: 0;
}

.demoform {
  margin: auto;
}

.tabs {
  position: relative;
  min-height: 200px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
}
[type='radio']:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type='radio']:checked ~ label ~ .content {
  z-index: 1;
}
.Shell {
  min-height: 100vh;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 3em;
  box-sizing: border-box;
}
