.list-with-detail-master-item-row[aria-selected='true'] {
  background-color: var(--spectrum-global-color-gray-200);
}

.list-with-detail-master-item-number {
  --list-with-detail-master-item-number-size: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--list-with-detail-master-item-number-size);
  height: var(--list-with-detail-master-item-number-size);
  border-radius: 50%;
  overflow: hidden;
  line-height: var(--list-with-detail-master-item-number-size);
  font-size: 0.75em;
  font-weight: 500;
  text-align: center;
  background-color: var(--spectrum-global-color-gray-500);
  color: var(--spectrum-global-color-gray-200);
}

[aria-selected='true'] .list-with-detail-master-item-number {
  background-color: var(--spectrum-global-color-gray-900);
  color: var(--spectrum-global-color-gray-100);
}
